
:root {
    --bg-dark: #2d3e50;
    --bg-light: whitesmoke;
    --formbox:#f8f9fa;
    --card-bg: rgb(146, 200, 202);
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    flex-wrap: wrap;
    background-color: var(--bg-light);
    font-family:'IBM Plex Sans Arabic', sans-serif;
    /* background-image: url(/Users/kyliegilbert/project---3/assets/images/Wikipedia_logo_165x125.png); */
}

header{
    padding: 20px;
    background-color: var(--bg-dark);
    color: var(--bg-light);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: center;

}
h1{
    font-size: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
}
.container {
    margin: 0%;
}
.top-row {
    justify-content: space-between;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    color: var(--bg-dark);
    font-size: 24px;

}

.box {
    height: 100%;
    width:70%;
    background-color: var(--card-bg);
    padding: 10px;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 2%;
    margin-bottom: 20px;
}



form {
    display: block;

    
}

input {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    height:50px;
    border-radius: 0.5rem;
    font-size: 18px;
    padding: 5px;
}

button{
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 50px;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border-radius: 0.5rem;
    font-size: 18px;
}

.btn {

    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border-radius: 0.5rem;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    
}

.small-box-search {

    height: 100%;
    width: 18%;
    padding: 10px;
    background-color: var(--card-bg);
    margin-right: 2%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}

.small-box-results {
    height: 100%;
    width: 70%;
    background-color: var(--card-bg);
    margin-left: 2%;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin-bottom:20px;

}

.picture {
    background-image: url(../images/background.jpeg);
    margin-bottom: 25px;
    
    /* background-size: cover; */
    background-position: center;
    background-color: var(--bg-light);
    height:100px;

}

.small {
    border-bottom: 2px solid var(--bg-dark);
    padding: 20px;
}

iframe{
    align-items: center;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bottom-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.card {
    margin-bottom: 50px;
    background-color: var(--bg-light);
    height: 300px;
    padding: 20px;
    border: 2px solid var(--bg-dark);
}

.video-display {
    background-color: var(--formbox);
    height: 300px;
    width: 80%;
    margin: 20px auto;
}

.wikipedia-display {
    align-items: center;
    background-color: var(--formbox);
    height: 100%;
    width: 80%;
    margin: 20px auto;
}

@media (max-width: 900px) {
    .box {
        flex-direction: column;
        width: 100%;
        margin: 20px 10px;

    } 
    
    .small-box-results, .small-box-search{
        flex-direction: column;
        margin: 20px 10px;
        width: 100%;
    }

    /* .small-box-results, .small-box-search {
        margin: 2%;
    } */
}

@media (max-width: 490px) {
    .box {
        flex-direction: column;
        width: 100%;
        margin: 20px 10px;

    } 
    
    .small-box-results {
        flex-direction: column;
        margin: 20px 10px;
        width: 100%;
    }
    .small-box-search {
        display: none;
    }

}